.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  width: 400px;
  height: 590px;
  background-color: #333;
  color: yellow;
  border-radius: 20px;
  box-shadow: 0 0 10px #000;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 600;
  color: yellow;
  cursor: pointer;
}

.modal-content > h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.modal-content > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-content > form > label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-content > form > input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
  text-align: center;
  transition: 0.3s;
}

.modal-content > form > input:hover {
  box-shadow: 0 0 10px yellow;
  transition: 0.3s;
}
.modal-content > form > input:focus {
  outline: none;
  box-shadow: 0 0 17px yellow;
  transition: 0.3s;
}

.modal-content > form > button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: yellow;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  transition: 0.5s;
}

.modal-content > form > button:hover {
  background-color: yellow;
  color: #000;
  cursor: pointer;
  scale: 1.03;
  transition: 0.5s;
}

.error {
  box-shadow: 0 0 10px red;
}

.success {
  box-shadow: 0 0 10px lime;
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 70%;
  }
}

@media screen and (max-height: 670px) {
  .modal-content {
    height: 530px;
  }

  .modal-content > form > label {
    font-size: 20px;
  }
  .modal-content > form > input {
    height: 35px;
    font-size: 16px;
  }
  .modal-content > form > button {
    height: 35px;
    font-size: 16px;
  }
}

@media screen and (max-height: 605px) {
  .modal-content {
    height: 480px;
  }

  .modal-content > h2 {
    margin-top: 10px;
  }

  .modal-content > form > button {
    margin-top: 0;
  }
}

@media screen and (max-height: 550px) {
  .modal-content > h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
