@font-face {
  font-family: "Comic Sans MS";
  /* src: url("../assets/comic-sans-ms/COMIC.TTF"); */
  src: url("../assets/fonts/comic-webfont.woff2") format("woff2"),
    url("../assets/fonts/comic-webfont.woff") format("woff");
}

body {
  background-color: #191919;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  padding: 0;
}
