nav {
  background-color: #333;
  box-shadow: 0 0 5px yellow;
  height: 50px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  margin-top: 30px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.nav-link {
  float: left;
  width: 25%;
}

.nav-link > a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link > a:hover {
  color: white;
  text-decoration: underline;
  scale: 1.1;
  transition: 0.3s;
}

.selected {
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  nav {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  nav {
    width: 95%;
  }
}

ul > li > a > mark {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;   
  border: 2px solid #FFF;
  width: 20px;
  height: 20px;  
  background-color: #FF6B6B;
  position: absolute;
  top: 3px;
  margin-left: 45px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: #FFF;
  font-weight: 700;
}

ul > li > a > mark {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;   
  -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

ul > li:hover > a > mark.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}